.Para {
    font-size: xx-large; 
    font-weight: 100; 
    margin: -25px auto 50px;
    color: #f64c72;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
}